<div class="title">
    <h1>{{ operacion }} Miembro</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>

<div class="container">
    <mat-card class="card">
        <mat-card-subtitle>
            <h1>Detalle del Miembro</h1>
            
        </mat-card-subtitle>
        <form [formGroup]="form" (ngSubmit)="agregarEditarMiembro()">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input style="text-transform:uppercase" required formControlName="Nombres" matInput placeholder="Escriba el nombre">
                      </mat-form-field>

                </mat-grid-tile>
                <mat-grid-tile>
                    
                    <mat-form-field>
                        <mat-label>Apellido</mat-label>
                        <input style="text-transform:uppercase" required formControlName="Apellidos" matInput placeholder="Escriba el Apellido">
                    </mat-form-field>

                </mat-grid-tile>
                <mat-grid-tile>

                    <mat-form-field>
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input formControlName="FechaNac" matInput [matDatepicker]="picker1">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>

                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Fecha de Bautismo</mat-label>
                        <input formControlName="FechaBa" matInput [matDatepicker]="picker2">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>

                </mat-grid-tile>
                <!-- <mat-grid-tile>


                   <mat-form-field> 
                        <mat-label>
                            Cargo
                        </mat-label>
                        <input 
                               formControlName="Cargo"
                               matInput type="text"
                               placeholder="Escriba el Cargo"
                               [formControl]="control"
                               [matAutocomplete]="auto"                    
                               >
                    </mat-form-field>
             <mat-autocomplete #auto="matAutocomplete">
               <mat-option *ngFor="let Cargos of filtrocargos | async" [value]="Cargos">
                 {{Cargos.toString()}}
               </mat-option>
             </mat-autocomplete>
            </mat-grid-tile> -->

            <mat-grid-tile [colspan]="2" >

                <!-- <div style="width:100px">
                    <img [src]="url" object-fit="cover" width="100%" height="100%">
                </div> -->

                    <!-- <mat-label>
                        Foto de Miembro
                    </mat-label>
                    <ngx-mat-file-input matInput accept="image/*">                                        
                    </ngx-mat-file-input> -->

            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="2" > 
                
                
                <!-- <button class="btnAceptar" (click)="profileupload.click()" mat-raised-button color="warn">
                    <mat-icon>photo</mat-icon>
                    Subir Imagen                    
            </button> -->

                
                
                
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" >
                    <button [disabled]="form.invalid" type="submit" mat-raised-button class="btnAceptar" color="primary">
                        Aceptar                    
                    </button>
                    <button mat-raised-button color="basic" routerLink="/ListadoMiembros" >
                        Volver                    
                    </button>
            </mat-grid-tile>
            </mat-grid-list>

        </form>
    </mat-card>

</div>
<!-- <input hidden #profileupload type="file" (change)="onselectFile($event)"> -->

<!-- <input type="file" class="file-input" multiple (change)="onChange($event)" />

<div *ngIf="files.length" class="file-section">
  <section *ngFor="let file of files">
    File details:
    <ul>
      <li>Name: {{file.name}}</li>
      <li>Type: {{file.type}}</li>
      <li>Size: {{file.size}} bytes</li>
    </ul>
  </section>

  <button (click)="onUpload()" class="upload-button">Upload the file</button>

  <section [ngSwitch]="status">
    <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
    <p *ngSwitchCase="'success'">✅ Done!</p>
    <p *ngSwitchCase="'fail'">❌ Error!</p>
    <p *ngSwitchDefault>😶 Waiting to upload...</p>
  </section>
</div> -->




<!-- <div class="wrapper">
    <lr-file-uploader-regular
      class="uploader-cfg"
      css-src="https://unpkg.com/@uploadcare/blocks@0.24.1/web/file-uploader-regular.min.css"
    >
      <lr-data-output
        (lr-data-output)="handleUploaderEvent($event)"
        use-event
        hidden
        class="uploader-cfg"
      ></lr-data-output>
    </lr-file-uploader-regular>
  
    <div class="output">
      <img *ngFor="let file of files" src="{{ file }}" width="300" />
    </div>
  </div> -->

  <!-- <lr-config
    ctx-name="my-uploader"
    pubkey="YOUR_PUBLIC_KEY"
    img-only="true"
    multiple="true"
    max-local-file-size-bytes="524288000"
    use-cloud-image-editor="true"
    source-list="local, url, camera, dropbox"
>
</lr-config>

<lr-file-uploader-regular
    ctx-name="my-uploader"
    css-src="https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.26.0/web/lr-file-uploader-regular.min.css"
>
</lr-file-uploader-regular> -->