<div class="title">
    <h1>Ver Miembro</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<!-- <div *ngIf="miembro$ | async as miembro" class="container"></div> -->
<div *ngIf="miembro != null" class="container">
    <mat-card class="card">
        <mat-card-title>
            <!-- <img src="./assets/Image.jpg" width="400px" height="200px"> -->
            <!-- <img ngSrc="./assets/Image.jpg" width="400px" height="200px"> -->
            {{ miembro.nombres }}
        </mat-card-title> 
        <mat-card-content>
            <!-- <P><strong>Nombre:</strong> {{ miembro.nombres }} </P> -->
            <P><strong>Apellido:</strong> {{ miembro.apellidos }} </P>
            <P><strong>Fecha de Nacimiento:</strong> {{ miembro.fechaNac | date: 'dd/MM/yyyy'  }}</P>
            <P><strong>Fecha de Bautismo:</strong> {{ miembro.fechaBa | date: 'dd/MM/yyyy' }} </P>
            <!-- <P><strong>Cargo Asignado:</strong> Secretaria 2022 </P> -->
        </mat-card-content>
        <mat-card-actions>
            <button class="card" routerLink="/listadoMiembros" mat-raised-button>Volver</button>
        </mat-card-actions>  
    </mat-card>
</div>