<div class="title">
    <h1>Ver Miembro</h1>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-title>
            <img src="./assets/Image.jpg" width="400px" height="200px">
            <!-- <img ngSrc="./assets/Image.jpg" width="400px" height="200px"> -->
        </mat-card-title>
        <mat-card-content>
            <P><strong>Nombre:</strong> Auris Idelisa </P>
            <P><strong>Apellido:</strong> Defillo Sanchez </P>
            <P><strong>Fecha de Nacimiento:</strong> 07/10/1997 </P>
            <P><strong>Fecha de Bautismo:</strong> 29/05/2010 </P>
            <P><strong>Cargo Asignado:</strong> Secretaria 2022 </P>
        </mat-card-content>
        <mat-card-actions>
            <button class="card" routerLink="/listadoMiembros" mat-raised-button>Volver</button>
        </mat-card-actions>  
    </mat-card>
</div>